<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<configSections>
  <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.wpf"/>
</configSections>
  <modules>
    <module moduleName="ModuleAModule" assemblyFile="Modules/ModuleAModule.dll" 
            moduleType="ModuleAModule.ModuleAModule, ModuleAModule,  Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            startupLoaded="true"></module>
  </modules>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>